*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url("./landingDongApp.gif");
    height: 100vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.contain{
grid-row: 3;
grid-column: 2;
align-self: flex-start;
justify-self: center;
}


  .buttonLanding{
    color: rgb(0, 0, 0);
    background-color: #F4B458;
    border-radius: 25px;
    border: none;
    font: inherit;
    padding: 8px;
    width: 300%;
    cursor: pointer;
  }

  .buttonLanding:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: all .2s;
}



